<a id="inoxidable"></a>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="h2 text-center mb-4 mb-md-5">
          <strong class="strong">
            {{inox-section.title}}
          </strong>
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-6 order-lg-2">
        <picture>
          <source
            class="img-fluid"
            srcset="assets/images/La-importancia-del-acero-inoxidable-875w.webp"
            media="(max-width: 600px)"
          />
          <img
            class="img-fluid"
            src="assets/images/La-importancia-del-acero-inoxidable-1120w.webp"
            alt="Acero inoxidable"
          />
        </picture>
      </div>
      <div class="col-12 col-lg-6 order-lg-1">
        <h2 class="h2 mt-4 mt-lg-0 mb-4">
          {{inox-section.subtitle-1}}
        </h2>
        <p class="p">
          {{inox-section.description-1-1}}
        </p>
        <p class="p">
          {{{inox-section.description-1-2}}}
        </p>
        <h2 class="h2 mt-5 mb-4">
          {{inox-section.subtitle-2}}
        </h2>
        <p class="p">
          {{inox-section.description-2}}
        </p>
      </div>
    </div>
  </div>
</section>