<a id="intro"></a>
<section class="section section--margin-top-lg">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-12 col-md-6 col-xl-7 order-md-2 mb-4">
        <picture>
          <source
            class="img-fluid"
            srcset="assets/images/CHVB-accesorios-cable-y-elevacion-1-875w.jpg"
            media="(min-width: 600px)"
          />
          <img
            class="img-fluid"
            src="assets/images/CHVB-accesorios-cable-y-elevacion-3-1750w.jpg"
            alt="{{intro-section.image-alt}}"
          />
        </picture>
      </div>
      <div class="col-12 col-md-6 col-xl-5 order-md-1">
        <h1 class="h1 mb-4 mb-md-5">
          {{intro-section.title}}
        </h1>
        <p class="p">
          {{{intro-section.description-1}}}
        </p>
        <p class="p">
          {{{intro-section.description-2}}}
        </p>
        <a
          href="https://chavesbao.com/uploads/CHAVESBAO Tornilleria 2023.pdf"
          class="btn btn-lg btn-primary btn--accent mt-3"
          target="_blank"
        >
          {{intro-section.view-catalogue}}
        </a>
      </div>
    </div>
  </div>
</section>